body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-item .dropdown-toggle::after {
  display: none; /* Remueve la flecha de los dropdowns */
}

.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}


.mapContainer{
  position: absolute;
  top:60px;
  right: 0;
  left:0;
  bottom:0;
}

.info{
  color:white;
  position: fixed;
  top:80px;
  left:20px;
  padding:20px;
  z-index: 9;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}